@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
* {
    scroll-behavior: smooth;
}

img.logo {
    height: 71px;
    width: 71px;
    margin-left: 8px;
}

img.AIM {
    height: 60px;
    width: 100px;
    margin-left: 6px;
}

img.DAV {
    height: 70px;
}
h3.down{
    color: rgb(255, 255, 255); 
    padding-top: 30px;
}

#download {
    background-color:rgb(34, 70, 67);
    padding: 10px;
    border-radius: 10px;
    margin-top:20px;
    margin-bottom: 20px;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    color: aliceblue;
}

#download:hover {
    background-color:rgb(122, 239, 255);
    color: rgb(0, 0, 0);
    font-weight: bold;
}

div.hover-event:hover {
    filter: opacity(80%);
    filter: contrast(300%)
}

a.sc:hover {
    transform: scale(1.1);
}

div.line {
    margin-top: 25px;
}
div.linebox{
    border-width:2px;
}

body{
    min-width: 241px;
}
