* {
    scroll-behavior: smooth;
}

img.logo {
    height: 71px;
    width: 71px;
    margin-left: 8px;
}

img.AIM {
    height: 60px;
    width: 100px;
    margin-left: 6px;
}

img.DAV {
    height: 70px;
}

h3 {
    margin-top: 20px;
}

a.sc:hover {
    transform: scale(1.1);
}

#download {
    background-color:rgb(34, 70, 67);
    padding: 8px;
    border-radius: 10px;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    color: aliceblue;
}

#download:hover {
    background-color:rgb(122, 239, 255);
    color: rgb(0, 0, 0);
    font-weight: bold;
}

body {
    min-width: 241px;
}

.b {
    background-color: rgb(500, 80, 75);
    margin: 0px 10px;
    padding: 11px;
    color: white;
    border-radius: 9px;
    font-size: 20px;
    font-family: 'Roboto', enter;
    text-decoration: none;
    display: inline-block;
    
}

.b:hover {
    background-color: rgb(800, 0, 100);
    padding:20px;
}
